<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Get Import Results</title>
</head>

<body>
    <main>
        <div class="container">
            <h2>Get Import Results</h2>
            <div class="url-container">
                <button id="myButton">GET</button>
                <span class="uri">/venues/aps/importResults?requestId={{requestId}}</span>
            </div>

            <ul id="responseContainer">

            </ul>
        </div>
    </main>

    <script type="text/javascript">
        const myButton = document.getElementById('myButton');
        const responseContainer = document.getElementById('responseContainer');

        myButton.addEventListener('click', async () => {
            // Clean the element before start
            responseContainer.innerHTML = "";

            try {
                const response = await fetch('/importResult');
                const data = await response.json();
                const pre = document.createElement('pre');
                const code = document.createElement('code');
                code.textContent = JSON.stringify(data, null, 4);
                pre.appendChild(code);
                responseContainer.appendChild(pre);
            } catch (error) {
                console.error(error);
                responseContainer.innerHTML = `<p>Error: ${error.message}</p>`;
            }
        });
    </script>
</body>

</html>