<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Dashboard</title>
</head>

<body>
    <main>
        <div class="container">
            <h2>Welcome!</h2>
            <p>This is an API client that is designed to interact with a web-based API. You can easily send APIs by
                clicking button. To access the resource, you need to log in to generate a JWT token.</p>
            <ul>
                <li><a href="/getVenueList.html">Get Venue List</a></li>
                <li><a href="/importap.html">Import AP from file</a></li>
                <li><a href="/getImportResults.html">Get Import AP Result</a></li>
                <li><a href="/getActivity.html">Get Activity</a></li>
                <li><a href="/requestAuthentication.html">Login</a></li>
            </ul>
        </div>
    </main>
</body>

</html>